.app-footer {
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  background: #673ab7;
  padding: 20px 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.footer-link , .footer-link:visited{
  color: #fff;
}